<form class="ui form" {{action "register" on="register"}}>
  <div class="pusher">

    <div class="ui container grid">
      <div class="row">
        <div class="sixteen wide column ">
          <div class="ui three top  attached steps">
            <div class="step">
              <i class="home icon" />
              <div class="content">
                <div class="title">Personal Info</div>
              </div>
            </div>
            <div class="active step">
              <i class="map pin icon"></i>
              <div class="content">
                <div class="title">Experience</div>
              </div>
            </div>
            <div class="disabled step">
              <i class="checkmark icon"></i>
              <div class="content">
                <div class="title">Complete Registration</div>
                <div class="description">search for jobs</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container grid">
      <div class="row">
        <div class="sixteen wide column ">
          <div class="ui basic segment">
            <h2 class="ui dividing header">Experience</h2>
            <div class="field">
              <label>About Me</label>
              <div class="field">
                {{textarea value=model.bio rows="4"}}
              </div>
            </div>
          </div>
        </div>
        <div class="eleven wide stretched column">
          <div class="inline fields">
            <label for="revoked">Has your CDL been suspended or revoked?:</label>
            <div class="field">
              <div class="ui radio checkbox">
                {{input type="radio" checked=false name=revoked}}
                <label>true</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                {{input type="radio" checked=false name=revoked}}
                <label>false</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui container grid">
      <div class="row">
        <div class="four wide stretched column">
          <div class="inline fields">
            <label>Type of Driving:</label>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.drivingPreference.local checked=model.drivingPreference.local}}
              <label>Local</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.drivingPreference.regional checked=model.drivingPreference.regional}}
              <label>Regional</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.drivingPreference.road checked=model.drivingPreference.road}}
              <label>Over the Road</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.drivingPreference.hazmat checked=model.drivingPreference.hazmat}}
              <label>Hazmat</label>
            </div>
          </div>
          <div class="inline fields">
            <label for="vehcile">Type of Vehicle Operated:</label>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.vehicle.trailerTractor checked=model.vehicle.trailerTractor}}
              <label>Tractor/Trailer</label>
            </div>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.vehicle.straightTruck checked=model.vehicle.straightTruck}}
              <label>Straight Truck</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              {{input type="text" value=model.vehicle.other placeholder="Other"}}
            </div>
          </div>
        </div>
        <div class="four wide stretched column">
          <div class="inline fields">
            <label>Credentials:</label>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.twicCard checked=model.twicCard}}
              <label>TWIC Card</label>
            </div>
          </div>


          <div class="inline fields">
            <label for="vehcile">Driving Experience:</label>
          </div>
          <div class="field">
            <div class="ui checkbox">
              {{input type="text" value=model.yearsExperience placeholder="Years Experience"}}
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              {{input type="text" value=model.milesDriven placeholder="Miles Driven"}}
            </div>
          </div>
        </div>

        <div class="four wide stretched column">
          <div class="inline fields">
            <label for="vehcile">Type of Trailer:</label>
          </div>
          <div class="field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.dryVan checked=model.trailer.dryVan}}
              <label>Dry Van</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.flatbed checked=model.trailer.flatbed}}
              <label>Flatbed</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.refrigerated checked=model.trailer.refrigerated}}
              <label>Refrigerated</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.tanker checked=model.trailer.tanker}}
              <label>Tanker</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.tankerEndorced checked=model.trailer.tankerEndorced}}
              <label>Tanker Endorced</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.specialized checked=model.trailer.specialized}}
              <label>Specialized</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=model.trailer.drayage checked=model.trailer.drayage}}
              <label>Drayage</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui  checkbox">
              {{input type="text" value=model.trailer.other placeholder="Other"}}
            </div>
          </div>
        </div>
        <div class="four wide stretched column">
          <div class="inline fields">
            <label for="vehcile">Regions Preference:</label>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=north-east checked=model.regions.northEast}}
              <label>North-East</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=mid-west checked=model.regions.midWest}}
              <label>Mid-West</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=south-east checked=model.regions.southEast}}
              <label>South-East</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=south-west checked=model.regions.southWest}}
              <label>South-West</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=plains checked=model.regions.plains}}
              <label>Plains</label>
            </div>
          </div>
          <div class="inline field">
            <div class="ui toggle checkbox">
              {{input type="checkbox" name=west-coast checked=model.regions.westCoast}}
              <label>West-Coast</label>
            </div>
          </div>
        </div>
      </div>

        <div class="ui container grid">
          <div class="row">
            <div class="sixteen wide column ">
              <button class="ui left floated button" {{action "previous"}}>Previous</button>
              <button class="ui right floated button submit primary">Register</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</form>
