<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large blue submit button">Login</div>
        <div class="ui message">
          New to us? <a >{{#link-to 'landing.register'}}Sign Up{{/link-to}}</a>

        </div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
