<div class="ui borderless huge menu ">
  <img src="/images/trucking-link-logo.png" height="125" width="300" class="left ui image">
  <div class="ui borderless secondary menu right">
    <a class="active item ">{{#link-to 'landing.login'}}Home{{/link-to}}</a>
    {{#link-to 'search' tagName="a" class="item"}}Drivers{{/link-to}}
    <a class="item">Contact</a>
    <a class="item">Distributors</a>
    <div class="item">
      <div class="ui primary button">Sign Up</div>
    </div>
  </div>
</div>
