<div class="ui middle aligned center aligned grid">
  <div class="column">
    <form class="ui large form">
      <div class="ui stacked segment center aligned">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i> {{input type="text" value=email placeholder="E-mail address"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i> {{input type="text" name="email-verify" placeholder="Re-enter your E-mail address"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i> {{input type="password" value=password placeholder="Password"}}
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i> {{input type="password" name="password-verify" placeholder="Re-enter your Password"}}
          </div>
        </div>
        <div class="inline fields">
          <div class="seven wide field">
            <label>Registration Type:</label>
          </div>
          <div class="five wide field">
            <div class="ui radio checkbox">
              {{radio-button value='driver' checked=profileType}}
              <!-- {{input type="radio" value="driver" name="profileType" checked="checked"}} -->
              <label>Driver</label>
            </div>
          </div>
          <div class="four wide field">
            <div class="ui radio checkbox">
              {{radio-button value='company' checked=profileType}}
              <label>Company</label>
            </div>
          </div>
        </div>
        <div class="ui fluid large blue submit button" {{action "register" post}}>Sign Up</div>
        <div class="ui message">
          Already a member? <a>{{#link-to 'landing.login'}}Login{{/link-to}}</a>
        </div>
      </div>
      <div class="ui error message"></div>
    </form>
  </div>
</div>
