{{#ui-sidebar class=" ui visible inverted blue menu vertical borderless overlay" }}
  <h2 class="ui center aligned icon header">
<i class="circular blue large user icon"/>
</h2>
  <a class=" active item">
    <i class="car icon" /> Driver Profile
  </a>
  <a class="item">
    <i class="search icon" /> Find Jobs
  </a>
  <a class="item">
    <i class="comments icon left" /> Messages
  </a>
  <a class="item">
    <i class="power icon" /> Logout
  </a>
{{/ui-sidebar}}
