<style type="text/css">
  .column {
    /*max-width: 500px;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: 5%;*/
    /*width: 100px;*/
    /*height: 100px;*/
  }
</style>
<div class="pushable">
  {{nav-bar-empty}}
  {{side-bar}}
  {{outlet}}
</div>
