<div class="pusher">
  <form class="ui form" {{action "update" on="submit"}}>
    <div class="ui hidden divider"></div>
    {{company.company-info model=model}}
    <div class="ui hidden divider"></div>
    {{company.company-address model=model}}
    <div class="ui hidden divider"></div>
    {{company.primary-contact model=model}}
    <div class="ui hidden divider"></div>
    {{company.driving-preference model=model}}
    <div class="ui hidden divider"></div>
    <div class="ui container grid">
      <div class="row">
        <div class="sixteen wide column ">
          <button class="ui left floated button" {{action "cancel"}}>Cancel</button>
          <button class="ui right floated button submit primary">Update</button>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column ">
          <div class="ui error message"></div>
        </div>
      </div>
    </div>
  </form>
</div>
