<div class="pusher">
    <div class="ui grid">
      <div class="three wide column">
      </div>
      <div class="eleven wide stretched column">
        <div class="ui basic segment">
          <div class="ui right floated button" {{action "edit"}}><i class="edit icon"></i>Edit</div>
          <h2 class="ui dividing header">Company Info</h2>
          <div class="field">
            <div class="fields">
              <div class="sixteen wide field">


                <table class="ui blue celled table">
                  <thead>
                    <tr>
                      <th colspan="4">Company Info:</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Company Name</td>
                      <td>{{model.name}}</td>
                      <td>Carrier Name</td>
                      <td>{{model.website}}</td>
                    </tr>
                    <tr>
                      <td>Website</td>
                      <td>{{model.carrierName}}</td>
                      <td>Years In Business</td>
                      <td>{{model.yearsInBusiness}}</td>
                    </tr>
                    <tr>
                      <td>Company Power Units</td>
                      <td>{{model.yearsInBusiness}}</td>
                      <td>Operator Power Units</td>
                      <td>{{model.yearsInBusiness}}</td>
                    </tr>
                    <tr>
                      <td>SCAC Code</td>
                      <td>{{model.scacCode}}</td>
                      <td>DOT Number</td>
                      <td>{{model.dotNumber}}</td>
                    </tr>
                    <tr>
                      <td>MC Number</td>
                      <td>{{model.mcNumber}}</td>
                      <td>Standard Solo Miles/Day</td>
                      <td>{{model.milesPerDay}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="three wide column" />
      <div class="three wide column">
        <table class="ui blue celled table">
          <thead>
            <tr>
              <th colspan="2">Primary Contact</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Name</td>
              <td>{{model.contact.name}}</td>
            </tr>
            <tr>
              <td>Email</td>
              <td>{{model.contact.email}}</td>
            </tr>
            <tr>
              <td>Phone Number</td>
              <td>{{model.contact.phone}}</td>
            </tr>
            <tr>
              <td>Address Line 1</td>
              <td>{{model.contact.address.addressOne}}</td>
            </tr>
            <tr>
              <td>Address Line 2</td>
              <td>{{model.contact.address.addressTwo}}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{model.contact.address.city}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td>{{model.contact.address.state}}</td>
            </tr>
            <tr>
              <td>Postal Code</td>
              <td>{{model.contact.address.postalCode}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="three wide column">
        <table class="ui blue celled table">
          <thead>
            <tr>
              <th colspan="2">Company Address:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Address Line 1</td>
              <td>{{model.corperation.address.addressOne}}</td>
            </tr>
            <tr>
              <td>Company Address Line 2</td>
              <td>{{model.corperation.address.addressTwo}}</td>
            </tr>
            <tr>
              <td>City</td>
              <td>{{model.corperation.address.city}}</td>
            </tr>
            <tr>
              <td>State</td>
              <td>{{model.corperation.address.city}}</td>
            </tr>
            <tr>
              <td>Postal Code</td>
              <td>{{model.corperation.address.postalCode}}</td>
            </tr>
          </tbody>
        </table>
        <table class="ui blue celled table">
          <thead>
            <tr>
              <th colspan="2">Location Tracking:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Electronic Logs Used</td>
              {{#if model.electronicLogs}}
                <td><i class="icon checkmark"></i>{{model.electronicLogs}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.electronicLogs}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Satellite Training Tracking Used</td>
              {{#if model.satelliteTracking}}
                <td><i class="icon checkmark"></i>{{model.satelliteTracking}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.satelliteTracking}}</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column">
        <table class="ui blue celled table">
          <thead>
            <tr>
              <th colspan="3">Type of Trailer:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Dry Van</td>
              {{#if model.trailer.dryVan}}
                <td><i class="icon checkmark"></i>{{model.trailer.dryVan}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.dryVan}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Flatbed</td>
              {{#if model.trailer.flatbed}}
                <td><i class="icon checkmark"></i>{{model.trailer.flatbed}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.flatbed}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Refrigerated</td>
              {{#if model.trailer.refrigerated}}
                <td><i class="icon checkmark"></i>{{model.trailer.refrigerated}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.refrigerated}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Tanker</td>
              {{#if model.trailer.tanker}}
                <td><i class="icon checkmark"></i>{{model.trailer.tanker}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.tanker}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Tanker Endorced</td>
              {{#if model.trailer.tankerEndorced}}
                <td><i class="icon checkmark"></i>{{model.trailer.tankerEndorced}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.tankerEndorced}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Specialized</td>
              {{#if model.trailer.tankerEndorced}}
                <td><i class="icon checkmark"></i>{{model.trailer.specialized}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.specialized}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Drayage</td>
              {{#if model.trailer.drayage}}
                <td><i class="icon checkmark"></i>{{model.trailer.drayage}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.trailer.drayage}}</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column">
        <table class="ui blue celled table">
          <thead>
            <tr>
              <th colspan="3">Regions Preference:</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>North-East</td>
              {{#if model.regions.northEast}}
                <td><i class="icon checkmark"></i>{{model.regions.northEast}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.northEast}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Mid-West</td>
              {{#if model.regions.northEast}}
                <td><i class="icon checkmark"></i>{{model.regions.midWest}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.midWest}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>South-East</td>
              {{#if model.regions.southEast}}
                <td><i class="icon checkmark"></i>{{model.regions.southEast}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.southEast}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>South-West</td>
              {{#if model.regions.southWest}}
                <td><i class="icon checkmark"></i>{{model.regions.southWest}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.southWest}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>Plains</td>
              {{#if model.regions.southWest}}
                <td><i class="icon checkmark"></i>{{model.regions.plains}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.plains}}</td>
              {{/if}}
            </tr>
            <tr>
              <td>West-Coast</td>
              {{#if model.regions.westCoast}}
                <td><i class="icon checkmark"></i>{{model.regions.westCoast}}</td>
              {{else}}
                <td><i class="icon close"></i>{{model.regions.westCoast}}</td>
              {{/if}}
            </tr>
          </tbody>
        </table>
      </div>
      <div class="two wide column"/>

      <div class="two wide column"/>


    </div>
</div>
